*{
    font-family: 'Roboto Slab', serif;
}

.home{
    padding: auto;
    margin: 0 20em;
    color:rgb(10, 10, 71);
    text-align: center;
    justify-content: center;
}

.everything{
	display: none;
}

/* button{
    display: block;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: xx-large;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.3rem;
}
button:hover{
    font-size: xx-large;
    background: rgb(255, 231, 166);
    color: rgb(255, 255, 255);
    border-radius: 0.9rem;
} */

.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    font-size: large;
}
.right{
    color:rgb(62, 110, 14);
}
.wrong{
    color:rgb(187, 15, 15);
}
.ticktack{
    color:rgb(12, 12, 122)
}
